<% @superheroes.each do |superhero| %>
 <div class="superhero_name" style="font-size:100px;">
 <%= superhero.name %>
</div>
	<div class="color:gray;">
 <%= superhero.superpower1 %>
 <%= superhero.superpower2 %>
 <%= superhero.superpower3 %>
</div>

<a href="/edit_superhero/<%= superhero[:id]%>">Edit</a>
<%end%>

<a href="/create_superhero">Create Superhero</a>