<h4>Edit some people</h4>

<%= form_for do |f| %>
	<%= f.label :name, placeholder: "Name" %>
	<%= f.text_field :name %>
	<%= f.submit %>
	<!-- <%= f.submit "Do some cool stuff"%> -->
	
	#f is a form object
	#this does your form, action, class, id, method (ie. post)
	<br>
	end