<!DOCTYPE html>
<html>
<head>
  <title>StudentHomeworkV2ScaffoldTesting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- --- < before Yeild --- -->

<%= yield %>

<!-- --- < after Yeild --- -->
 <hr>
 <h3>Add New Locations, Courses & Assignments here:</h3>
  <%= link_to 'Locations List', locations_path %>
  <%= link_to 'Course List', courses_path %>
  <%= link_to 'Assignment List', assignments_path %>
  <%= link_to 'Home', root_path %>
</body>
</html>
