<p id="notice"><%= notice %></p>

<p>
  <strong>Name Course:</strong>
  <%= @course.name_course %>
</p>

<p>
  <strong>Course Description:</strong>
  <%= @course.description_course %>
</p>

<p>
  <strong>Links course:</strong>
  <%= @course.links_course %>
</p>
<hr>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Course List', courses_path %>
 <%= link_to 'Home', root_path %>
