<p id="notice"><%= notice %></p>
<h1>Iron Yard Location</h1>
<p>
  <strong>Name:</strong>
  <%= @location.name_l %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description_l %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>
<%= link_to "Create Location", new_location_path %>
<ul>
  Courses
  <%= link_to "Create Course", new_location_course_path(@location) %>
  
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name_course, location_course_path(@location, course) %>
      |
      <%= course.description_course %>
      |
      <%= link_to "Edit", edit_location_course_path(@location, course) %>
      |
      <%= link_to "Delete", location_course_path(@location, course), method: :delete %>
    </li>
  <% end %>
</ul>

