<p id="notice"><%= notice %></p>
<h1>Iron Yard Location</h1>
<p>
  <strong>Name:</strong>
  <%= @location.name_l %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description_l %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>
<%= link_to "Create Location", new_location_path %>

  <hr>
  <h2>Course Lists</h2>

  <hr>

  <%@courses.each do |course| %>
  <%= link_to course.name_course, location_course_path(location.course) %>
  <%= link_to "Edit Course", edit_location_course_path(location.course) %>
  <br>

<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to 'Home', root_path %>
