<h1>Listing hospitals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.description %></td>
        <td><%= link_to 'Show', hospital_path(hospital) %></td>
        <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
        <td><%= link_to 'Destroy', hospital_path(hospital), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

    <% hospital.patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.description %></td>
        <td><%= patient.workflow_state %></td>
        <td><%= link_to 'Show', hospital_patient_path(hospital,patient) %></td>
        <td><%= link_to 'Edit', edit_hospital_patient_path(hospital,patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <% end %>
  </tbody>

  <tbody>
    
  </tbody>
</table>
<%= link_to 'New Patient', new_hospital_patient_path(@hospitals) %>
<%= link_to 'New Hospital', new_hospital_path %>
<br>

