<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :name_course %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :description_course %>
  </div>
  <div class="field">
    <%= f.label :Links %><br>
    <%= f.text_field :links_course %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Home', root_path %>
<% end %>
