<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name_a %>
</p>

<p>
  <strong>Descripion:</strong>
  <%= @assignment.descripion_a %>
</p>

<p>
  <strong>Links for assignment:</strong>
  <%= @assignment.links_a %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
